<nav class="navbar">
    <div class="container">
        <a href="home.ejs" class="navbar-brand">My Blog</a>
        <ul class="navbar-nav">
            <li class="nav-item"><a href="home.ejs" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="about.ejs" class="nav-link">About</a></li>
            <li class="nav-item"><a href="newblog.ejs" class="nav-link">New Blog</a></li>
            <li class="nav-item"><a href="contact.ejs" class="nav-link">Contact</a></li>
        </ul>
    </div>
</nav>
