<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if(currentHours < 12) { %>
        <%= "Good Morning" %>
    <% } else if (currentHours > 12 && currentHours < 18) { %>
        <%= "Good Afternoon" %>
    <% } else { %>
        <%= "Good Evening" %>
    <% } %>
</body>
</html>