<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>

    <h2>This is the about header</h2>
    <p>This is a paragraph in the html in the about page from node backend</p>


  </body>
</html>