<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS | Home <%= title %></title>
    <% console.log(variable_1)%>
    <% for(let i=1;i<=10;i++){
      console.log(i);
    }%>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/students">Students</a></li>
      </ul>
    </nav>

    <h2>This is the header</h2>
    <p>This is a paragraph in the html template from node backend</p>
    <ul>
    <% for(let i=1;i<=10;i++){ %>
      <li><%= i %></li>
    <% } %>
    </ul>
  </body>
</html>