<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/students">Students</a></li>
    </ul>
  </nav>

  <h2>This is the header</h2>
  <p>This is a paragraph in the html template from node backend</p>

</body>

</html>