<article>
    <h2>Blog Post Title</h2>
    <p>Posted on <time datetime="2024-08-07">August 7, 2024</time> by <a href="#">Author Name</a></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor auctor, faucibus nisi ut, tincidunt sapien. Etiam nec dolor eget lacus malesuada vestibulum.</p>
    <p>Sed non nisi sit amet nisl cursus convallis vel non magna. Morbi efficitur libero eu elit facilisis, ac consequat mauris dignissim.</p>
</article>
<article>
    <h2>Another Blog Post</h2>
    <p>Posted on <time datetime="2024-07-30">July 30, 2024</time> by <a href="#">Author Name</a></p>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
    <p>Phasellus lacus. Nam posuere felis non magna dignissim, et scelerisque sem facilisis. Cras porta, ligula a scelerisque pulvinar, nunc augue viverra leo, in scelerisque mi risus id ligula.</p>
</article>